[2020-06-25 16:25] gavinfay opened #1 "get_base_input function needs agreed upon OM values"
I added [get_base_input()](https://github.com/cmlegault/IBMWG/blob/master/demonstrations/gavin/base_input.R) which creates the `input` object with the agreed 'default' OM settings.

This can then be called by other functions to modify the list for the various scenarios.

SRR parameters not updated yet, didn't get a chance to interpret the parameterization for B-H. Tim/Andy/Chris can you help?

Nex

[2020-06-30 19:43] cmlegault commented on #1
Tim modified WHAM as OM to use R0 and steepness parameters as input

[2020-06-30 19:43] #1 closed, assigned to cmlegault, gavinfay, timjmiller

[2020-07-08 14:53] JDeroba opened #2 "IBS_Functions naming conventions"
The IBS_Functions.R code uses different naming conventions based on a summer flounder example than the naming conventions used by WHAM.  Rich has started this transition but still incomplete.

[2020-07-08 14:55] JDeroba opened #3 "IBS_Functions indexing/array sizes"
The first cut functions in IBS_Functions.R were written with one fleet and one survey, but our WHAM OM will have two surveys (I don't think multiple fleets though).  So, we need to revamp functions to have appropriate indexing for multiple surveys.

[2020-07-08 14:58] JDeroba opened #4 "IBS_Functions F options"
Some of the index methods have different options for calculating a target F.  For example, use SPR based F or recent average of exploitation rates.  This issue is at least true of expanded survey biomass and likely a few others.  Not all these options are currently coded and available.

[2020-07-08 15:03] JDeroba opened #5 "IBS_Functions - not all IBS methods done yet"
Be sure to make changes to the index based methods functions within wham_mse_functions.R script.  That script now houses the working versions of the methods functions.
Still need:
-Joe Langan
-Ensemble - need to add the last 1 or 2 index methods to the ensemble function; might just be missing Joe Langan
-Low priority of mean length and FSD methods.

[2020-07-16 20:32] rich-bell commented on #2
I believe this issue is now resolved.

[2020-07-22 15:08] #2 closed, assigned to John-Wiedenmann, JDeroba, rich-bell

[2020-07-22 15:08] #3 closed, assigned to John-Wiedenmann, JDeroba, rich-bell

[2020-07-29 19:28] #4 closed, assigned to John-Wiedenmann, JDeroba, rich-bell

[2020-07-29 19:33] JDeroba opened #6 "expanded survey biomass fxn"
1) I think we can delete JJD's original "ExpandSurvey" function because it's just a special case of Rich's "ExpandSurvey_modified".  True?

2) Within the "..._modified" function, we need to check that we're averaging the expanded values using fall in year y and spring in year y+1.  Rich's code outside this function does this, but I don't think it's correct here.

[2020-07-30 20:34] #6 closed, assigned to John-Wiedenmann, JDeroba, rich-bell

[2020-07-30 20:36] JDeroba opened #7 "DLM_Z broken"
Somewhere along the way we broke DLM_Z.  It's a dimensions issue.  Looks like we collapsed index numbers at age to a single matrix, but this function is expecting a larger array with numbers at age for each index separately.

[2020-07-30 20:56] cmlegault opened #8 "record all performance metrics"
SSB metrics are done, just need to add the [others](https://docs.google.com/document/d/1ytEuChrB13n0wyKsp3MPhRdYEI20biQEcWWcBj0fWTs/edit?usp=sharing)

[2020-08-13 00:37] #7 closed, assigned to John-Wiedenmann, JDeroba, rich-bell

[2020-08-18 02:11] JDeroba opened #9 "check index of adv.yr"
in the wham_mse_functions.R script just check to see that JJD did the indexing with adv.yr correctly.  I think I got it, but another set of eyes appreciated.

[2020-08-18 02:13] JDeroba opened #10 "M_CC method broken"
M_CC didn't work with the base input values.  I (JJD) spent zero time trying to figure it out.  Seems like something is wrong with the lm.fit.

[2020-08-18 02:27] JDeroba opened #11 "agg_xxx different sizes"
in the "y" wham output, y$agg_indices is a different length (# years long) than y$agg_catch.  I thought both would be the same size given that I think they should both contain values from the base period.  This discrepancy caused some indexing and subscript issues.

[2020-08-18 13:42] John-Wiedenmann commented on #10
The lm fitting is in the DLM_Z function that is called by M_CC.  I just ran it and both are currently working on my machine, with Z using the wham output currently on Github providing a Z  between 0.94 and 0.99 depending on 3 or 5 year averaging.  There is a check if you get NAs of param estimates from the lm that it defaults to the specified minimum Z (currently 0.05).  But there might be other w

[2020-08-18 13:49] JDeroba commented on #10
I am definitely using a different WHAM output.  See the somewhat lengthy
email I sent late last night.  We've put the IBM functions that we wrote
into the MSE loop, meaning the working IBM functions are now in a script
with several other functions in gavin's demonstration folder.  Our JW_JD_RB
demonstrations folder is now obsolete.  For what it's worth, M_CC was
working when I used the wham output

[2020-08-18 13:59] John-Wiedenmann commented on #10
Ah, I don't read anything longer than a paragraph and that doesn't have bullet points.  Actually I check my Rutgers email less frequently in the summer and didn't see that message til now.

I will use the functions file in Gavin's folder from now on and address the issue this morning.  Also gonna modify the Skate_CR to be called Itarget throughout.

[2020-08-19 02:21] John-Wiedenmann commented on #10
Thanks for working on the linkages.  Took me a while to figure out how to make the pieces work.  One issue I had is that I couldn't find a get_base_input function, but could use the get_input function to make it run.

So that error msg results when all NAs or NaNs are passed to the linear model.  I looked at the sim_data_series being fed into the method at the time of the crash, and the last 4 row

[2020-08-19 13:15] JDeroba commented on #10
The values in the get_input OM are just made up for testing and don't
reflect the decisions that WG has made.  Glad you were able to figure this
out.  I think we're near "fully" functional, but past experiences have me
forever skeptical.

JJD

On Tue, Aug 18, 2020 at 10:22 PM John-Wiedenmann <notifications@github.com>
wrote:

[2020-08-19 13:45] gavinfay commented on #9
Think this seems to be right (F's are being updated in blocks of `adv.yr` duration).
Made some changes to loop over assessment (advice update) years to simplify bookkeeping (at least for me) & keep the sims.results objects indexing with the numbers of the assessments/advice updates, rather than skipping indexing. In practice I don't think this matters because we are just returning the final object

[2020-08-19 13:54] gavinfay opened #12 "Moved specification of IBM control options outside MSE loop into scenario specifications"
I added functionality to the demo `scenario_workflow` to allow for specification of which IBS method to use, as well as the number of advice years each time the advice is updated `adv.yr` as part of the scenario settings.

Think this makes sense as they are part of the factorial of scenarios.
Currently I have these in a separate csv file for the projection settings (`proj-scenarios.csv`) rather th

[2020-08-19 13:57] gavinfay opened #13 "Packages being loaded within functions"
Several instances of dependencies being loaded on the fly in functions.
Probably slows things down for some methods as packages loaded each time the function is called rather than having it loaded to start with.
Not a big problem, just needs some tidying up when linking/reorganizing.
This issue is to remind us (me).

[2020-08-19 14:07] gavinfay opened #14 "Index-Based Methods only returning catch advice and not methods result (apart from AIM)"
Other than AIM, the IBMs are currently only returning the value for the catch advice rather than information about the results from applying the method (if any). And for AIM, the remaining information is not being saved.

GF modified the way the result is saved to allow for list object rather than a numeric, so the return from the IBM functions can be generalized (and we get to keep the returned `

[2020-08-19 14:13] #9 closed, assigned to gavinfay, liz-brooks, timjmiller, JDeroba

[2020-08-19 15:06] JDeroba commented on #14
GF, I tried to run the scenario_workflow.Rmd and play with this, but IBM_options.R is missing.  Can you point me in the right direction?

[2020-08-19 15:10] gavinfay commented on #14
Oops. Didn't commit it to the repo. Done and pushed, should be there now.

On Wed, Aug 19, 2020 at 11:06 AM jonathanderoba <notifications@github.com>
wrote:

--

Gavin Fay, Ph.D.
Fisheries & Ecosystem management, Ecological modeling, Stock assessment
gfay42@gmail.com
@gavin_fay
www.gavinfay.com

[2020-08-19 15:30] timjmiller commented on #10
The logistic selectivity parameters are defined on line 19 of
wham_mse_functions.R. Currently a50 = 5 and 1/slope on logit scale = 1 for
both surveys and the fishing fleet.

On Wed, Aug 19, 2020 at 9:15 AM jonathanderoba <notifications@github.com>
wrote:

--
Timothy J. Miller, PhD
Research Fishery Biologist
NOAA, Northeast Fisheries Science Center
Woods Hole, MA
508-495-2365

[2020-08-19 16:36] JDeroba commented on #12
I can't get scenario_workflow to run, apparently because adv.year is not being passed from the proj-scenarios file to "input"; wham_mse_functions is looking for input$adv.yr and it is not there.  This is probably an easy fix, but it would take me a while to figure it out.  GF can likely fix this in seconds....  Also just discovered input$IBM is also not getting transferred to the wham_mse_function

[2020-08-19 17:15] John-Wiedenmann commented on #10
Thanks Tim,

I'm really glad those were chosen as the initial values, as the issue with M_CC might have gone undetected until much later.

[2020-08-19 17:18] JDeroba commented on #14
The changes GF made seem OK to me.  I changed the planBsmooth fxn and ExpandedSurvey fxn to return more stuff.  I'm not familiar enough with the other methods to know what to return so I'll leave that to JW or RB.

[2020-08-19 18:42] liz-brooks commented on #10
i think you should drop the plus group if you are applying a catch curve.
looking at code for M_CC, if you passed an argument of plus.age=T (or F),
to indicate if the oldest age was a plus age, then i  think you would
adjust the code with:

if (plus.age==T) {
maxage_one <- maxage_one - 1
maxage_two <- maxage_two - 1
}

On Wed, Aug 19, 2020 at 1:16 PM John-Wiedenmann <notifications@github.com>
wrot

[2020-08-19 20:05] liz-brooks commented on #12
i just added this:
input$adv.yr=2

to Run_MSE.R.  it runs (aside from the lm issue), but  i'm getting crashes
in RStudio like i used to with the original "simple_example_2", which tim
fixed with the "simple_example_2_faster" code.
can you confirm that you appended the IBM functions to the
"simple_example_2_faster.R" version?

On Wed, Aug 19, 2020 at 12:37 PM jonathanderoba <notifications@github.co

[2020-08-19 20:14] timjmiller commented on #12
it appears not to be using the faster version. A new MakeADFun object is
being made each time through the loop which I believe was the problem.

On Wed, Aug 19, 2020 at 4:05 PM Liz Brooks <notifications@github.com> wrote:

--
Timothy J. Miller, PhD
Research Fishery Biologist
NOAA, Northeast Fisheries Science Center
Woods Hole, MA
508-495-2365

[2020-08-19 20:19] timjmiller commented on #12
I believe I just fixed this issue and pushed it to the repository. perhaps
Liz or someone else could verify.

On Wed, Aug 19, 2020 at 4:05 PM Liz Brooks <notifications@github.com> wrote:

--
Timothy J. Miller, PhD
Research Fishery Biologist
NOAA, Northeast Fisheries Science Center
Woods Hole, MA
508-495-2365

[2020-08-19 21:04] liz-brooks commented on #12
i pulled your revised wham_mse_functions.R and gave it three tries, and
restarted R and cleared session workspace before each try (let me know if
there is anything else i should be doing).
1. i was able to run  mse.results=do_wham_mse_sim(input=input)  about 10
times before a crash
2. it crashed on the first run of mse.results=do_wham_mse_sim(input=input)
3. it crashed on the ninth run of mse.resu

[2020-08-19 22:33] cmlegault commented on #12
I created a csv file of all the factorial combinations in demonstrations/chris/design_matrix. Is this along the lines of what you were looking for Gavin?

[2020-08-20 11:42] gavinfay commented on #8
Commit 50fe7ab adds catch metrics.
I still need to add metrics for F and some other miscellaneous.

[2020-08-20 12:10] cmlegault commented on #13
All library calls in wham_mse_functions.R moved to top of Run_MSE.R. I didn't find any other library calls in code, but good reminder to search for these later to make sure no others slip through.

[2020-08-20 12:10] #13 closed, assigned to gavinfay

[2020-08-20 14:44] liz-brooks commented on #8
hi gavin,

in Run_MSE.R, a user still needs to add the following line just before the
call to do_wham_mse_sim so that adv.yr is defined:

input$adv.yr=2

i didn't modify the code in case you had another idea of where to put it,
just flagging that adv.yr is still not defined anywhere else and to run
(for now) you need that statement.

cheers
liz

On Thu, Aug 20, 2020 at 7:42 AM Gavin Fay <notificat

[2020-08-20 15:25] timjmiller commented on #8
I have made the change that Liz noted. I also modified selectivity to match
what was in the factorial pruning document. I also clarified a few things
in base_input function about stock-recruit assumptions and verified that
steepness parameterization is working. Note that the problems noted about
the IBM failing still occurs with this selectivity when nprojyrs is 40. The
default in the do_wham_mse_

[2020-08-20 15:32] gavinfay opened #15 "adv.yr not defined when running MSE loop by itself"
hi gavin,

in Run_MSE.R, a user still needs to add the following line just before the
call to do_wham_mse_sim so that adv.yr is defined:

input$adv.yr=2

i didn't modify the code in case you had another idea of where to put it,
just flagging that adv.yr is still not defined anywhere else and to run
(for now) you need that statement.

cheers
liz

On Thu, Aug 20, 2020 at 7:42 AM Gavin Fay <notificat

[2020-08-20 15:34] gavinfay commented on #8
Created new issue for these runtime problems rather than add to this one for the performance metrics.
https://github.com/cmlegault/IBMWG/issues/15

[2020-08-20 15:35] gavinfay commented on #15
@timjmiller modified Run_MSE.R to add this to the input list object.

This feature is already added to the input lists when using the full scenario specification workflow to conduct the MSE rather than the test.

[2020-08-20 15:35] #15 closed, assigned to nobody

[2020-08-20 15:38] gavinfay commented on #12
Thanks Chris! I will work to align this with the code so the object names all talk nicely.

@gavinfay to make sure scenario column names and function names in the settings table are all a-OK.

[2020-08-20 15:55] timjmiller commented on #15
I still get errors when trying to knit the Rmd files.

On Thu, Aug 20, 2020 at 11:36 AM Gavin Fay <notifications@github.com> wrote:

--
Timothy J. Miller, PhD
Research Fishery Biologist
NOAA, Northeast Fisheries Science Center
Woods Hole, MA
508-495-2365

[2020-08-20 16:11] John-Wiedenmann commented on #10
So I updated the DLM_Z function that does the linear model to just return a Z estimate of 0 if it is given a Matrix of NAs or NaNs.  Also removed the plus group from NAA matrix.

[2020-08-20 16:11] #10 closed, assigned to John-Wiedenmann, JDeroba

[2020-08-20 20:40] JDeroba opened #16 "stable period AIM approach"
"We" kind of agreed to use AIM to identify a replacement F associated with the stable period, and then use that F as Fproxy for use in the ExpandedSurvey biomass approach to derive catch advice.  As written the get.stable.period function was returning a replacement F in units of catch/index, but the index was not scaled by q and replacement F was >>>1 (like in the thousands).  I changed the functi

[2020-08-21 15:03] gavinfay opened #17 "Added faster version of PlanBsmooth"
I did some profiling and noticed that a lot of time was being spent in `ApplyPlanBsmooth()`, for printing (warnings) and plotting that is not required in the MSE.

e.g.
![image](https://user-images.githubusercontent.com/8093556/90903996-b4721480-e39c-11ea-89b2-c44011c716ec.png)

I copied the function code into a new function and commented out the printing and plotting. This results in about 5x fas

[2020-08-21 17:39] gavinfay opened #18 "Proposal for production runs & organization"
Spent some time thinking about and trying out a method for running the simulations and organizing the settings & .
This builds from my workflow proposal in the wiki and is an alternative from the workflow outlined by @cmlegault in `Run_MSE.R`.

Moved everything to R scripts, i.e. there are no R Markdown files.

Streamlined things so that only thing a user (someone who is wanting to run some simula

[2020-08-24 14:57] JDeroba commented on #18
I played with this for a couple hours this morning.  I ran into an issue trying to save the rds to G-drive.
######

Error in gzfile(file, mode) : cannot open the connection
In addition: Warning message:
In gzfile(file, mode) :
  cannot open compressed file 'output/demo-mse-JJD-20200824.Rds', probable reason 'No such file or directory'
######
I'm not sure if the issue is that R can't access my Goog

[2020-08-24 17:40] timjmiller commented on #18
I verified that the googledrive package works with our noaa google accounts
on both windows and linux.

See this page: https://googledrive.tidyverse.org/

and do this

drive_find(n_max = 30)

You will have to jump through a couple of hoops to get authentication for
access to your google drive, but after that can access files there from R.

I have not tried to save the files using gavin's code, but

[2020-08-24 17:45] timjmiller commented on #18
The code works for me. I have gotten things set up to use this code on the
server, but it seems like it might need to be modified to use say 16
threads in parallel. I see some code commented out that looks like it might
be meant for that, but I believe there may be some fixing necessary because
it throws errors when I tried it.

On Fri, Aug 21, 2020 at 1:40 PM Gavin Fay <notifications@github.com>

[2020-08-25 21:32] gavinfay commented on #18
Thanks for testing!

I have found that the problems I had been having with the parallelization code that uses {furrr} to access the {futures} package that is commented out in the script work OK for me now that I am using my native version of the `planBsmooth` function rather than the one in the package. Some googling revealed that {futures} sometimes has problems attaching packages when setting up

[2020-08-26 15:32] timjmiller commented on #11
The number of rows (# base period years) should be the same for agg_indices and agg_catch. @jonathanderoba can you make an example where they are not?

[2020-08-26 18:34] liz-brooks commented on #18
ok, i guess i'm batting cleanup on the RING team...

* i just confirmed (redundantly?) that it runs on the server.

* on line 50 of do_mse, @Gavin Fay <gfay@umassd.edu> asked "# should this
be done AFTER the sims are completed and pushed?" wrt updating the progress
table before or after sims are run.  it strikes me that a person could
check runs out, run them, and then forget or delay uploading re

[2020-08-27 12:44] JDeroba commented on #11
My mistake.

[2020-08-27 12:44] #11 closed, assigned to timjmiller

[2020-08-28 17:39] cmlegault opened #19 "finalize names for IBM functions"
Currently design_matrix.R uses the following names for IBMs:
ibms <- c("Islope",
          "Itarget",
          "true_Skate_CR",
          "M_CC",
          "PlanBsmooth",
          "ExpandSurvey_recentavgrelF",
          "ExpandSurvey_F%SPR",
          "ExpandSurvey_stableperiodF",
          "AIM",
          "CatchCurve_Fspr",
          "CatchCurve_stableperiod",
          "JoeDLM",
          "En

[2020-08-28 19:36] rich-bell commented on #19
Thanks Chris,

This may have been settled while I was away last week.  Just wanted to check on two aspects:

1. Just want to confirm that using the recent average F or catch was an option the group wanted to use for expanded biomass?  I thought I recall that Jon D used that method simply to write the function, but was not intending for it to be part of the factorial.  Does not matter to me, just w

[2020-08-28 20:05] rich-bell commented on #16
Hello,

I took a look at what I think is the latest code, https://github.com/cmlegault/IBMWG/blob/master/demonstrations/gavin/wham_mse_functions.R.  I read through the function and did not run it.  This seems like it should work well for the expand biomass function as long as the stable.period function only gets run when the expand biomass function calls it and the stable.period function does not

[2020-08-30 15:27] JDeroba commented on #19
My update:
ibms <- c("Islope",
"Itarget",
"true_Skate_CR",
"PlanBsmooth",
"ExpandSurvey_recentavgrelF",
"ExpandSurvey_F%SPR",
"ExpandSurvey_stableperiodF",
"ExpandSurvey_FequalM",
"AIM",
"CatchCurve_F%SPR",
"CatchCurve_FequalM",
"JoeDLM",
"Ensemble")

Responding to multiple replies from Rich...I think we agree to include "ExpandSurvey_recentavgrelF" in the design matrix and test it because accordi

[2020-08-31 17:43] rich-bell commented on #19
Hello,

That sounds fine to me.  Using the relative F developed based on the biomass estimate from the expand biomass function is what threw up a red flag for me.  That said, we could modify the catch curve function to produce a vector of total mortality (Z) based on all the cohorts, then use the estimate of natural mortality to get a vector of F, then back calculate the biomass from the Z, F and

[2020-08-31 18:01] #16 closed, assigned to liz-brooks, rich-bell

[2020-08-31 18:02] #14 closed, assigned to John-Wiedenmann, JDeroba, rich-bell

[2020-09-01 16:31] liz-brooks opened #20 "compare ASAP and WHAM"
compare a run of wham and asap using parameters for one of the scenarios

[2020-09-01 16:34] liz-brooks commented on #20
completed, 3 figures uploaded to demonstrations/tim/compare_asap_wham.
results look nearly identical

[2020-09-01 16:34] #20 closed, assigned to nobody

[2020-09-02 01:35] thefaylab opened #21 "verify identical results"
@gavinfay & @liz-brooks  got the same results from each running the same 5 simulations.

<img width="526" alt="image" src="https://user-images.githubusercontent.com/10500328/91922093-0f5c1380-ec9b-11ea-90b1-a84d0618c4d3.png">

[2020-09-02 12:55] cmlegault commented on #21
Excellent! Thanks Gavin and Liz.

[2020-09-02 12:55] #21 closed, assigned to nobody

[2020-09-02 13:17] cmlegault commented on #17
Confirmed GF_planb.R has correct code for PlanBsmooth function. Changed defaults for showplots and showwarn from TRUE to FALSE, just for safety, doesn't change anything in how function operates.
Thanks Gavin for checking for speed bottlenecks!

[2020-09-02 13:17] #17 closed, assigned to cmlegault, JDeroba

[2020-09-02 21:20] thefaylab commented on #19
All, I'm trying to sort out the scenario specification list using the design matrix and some lookup tibbles that convert specifications to the relevant input object names.

Realized I needed to change the PlanBsmooth function to the internal one, but I can't seem to find the  `ExpandSurvey_XXXX` functions anywhere - the only function I can locate is `ExpandSurvey_modified()`.

It's possible that (

[2020-09-02 21:21] gavinfay commented on #19
Oops, realized I was logged in to my lab's account instead of me.

[2020-09-03 00:26] JDeroba commented on #19
Gavin, what you surmised is correct.  The four ExpandedSurvey_xxxx options in the design matrix are all variants of the ExpandedSurvey_Modified function controlled via y$expand_method.  You missed y$expand_method=3 uses F=M.  I didn't know how else to type those into the design matrix.  I hope it's not problematic.  If it's easier we can make each of the four alternatives a separate function.

JJD

[2020-09-03 01:48] timjmiller opened #22 "age-structured model one-off"
The wham package functionality to update data to include those simulated during the projection/feedback years appears to work now. If we are going to do the feedback loop using an age-structured model, we need to decide what "type" of age-structured model (e.g., random effects or not) and how to generate the catch advice from the fitted model in the feedback loop.

[2020-09-03 04:14] rich-bell opened #23 "Frequency of index based assessments?"
Wondering if there was a decision on how frequently the index based assessments would be run, every two years, three years, etc?
Joe Langan's dynamic linear model function uses a forecasting method to generate the catch advise within specifications.  The function can forecast as many years of catch as needed to cover the time between assessments.  Currently the default is two
y$JoeDLM_n_ahead<-2 #

[2020-09-03 11:26] cmlegault commented on #22
I suggest we use a WHAM-formulated-as-ASAP type of age-structured model (meaning no random effects) because this is what is currently used in the region. If time permits, we could also let WHAM loose with random effects, but I don't give this a high priority for our report (though it will certainly be interesting in the future to explore). I think we can shortcut the catch advice by doing a simple

[2020-09-03 11:27] cmlegault commented on #23
The default will be to conduct the index based assessments every other year. It would be nice to have the functions generalized to allow easy exploration of conducting assessments every year or every third year, if this isn't too much of a pain.

[2020-09-03 11:38] gavinfay opened #24 "Did some patching of wham_mse_functions.R"
Commits made by @rich-bell last night changing `wham_mse_functions.R` inserted a previous version of the `do_wham_mse` function in addition to the `JoeDLM()` function.
@gavinfay reverted the file to a previous commit to fix the `do_wham_mse` function call and then re-added the `JoeDLM()` function. Should be all set now.

[2020-09-03 11:38] #24 closed, assigned to nobody

[2020-09-03 11:41] gavinfay commented on #23
This is already specified in the input object `input$adv.yr`. Default is 2 but can be changed by the scenario specifications. This could be passed to `JoeDLM()` to make the forecast reactive. Seems like a low priority at the moment.

[2020-09-03 11:41] #23 closed, assigned to nobody

[2020-09-03 11:43] gavinfay commented on #19
Got it. Thanks Jon. No, I don't think there's any need to make separate functions - I've adjusted the setup_scenarios.R` to be adaptive. Hoping to commit this change soon....

[2020-09-03 11:43] #19 closed, assigned to John-Wiedenmann, JDeroba, rich-bell

[2020-09-03 11:50] JDeroba commented on #22
Chris' suggestion sounds reasonable to me.

JJD

[2020-09-03 13:18] gavinfay opened #25 "Changes to base_input require slight change in order of operations"
`get_base_input()` is now (rightly) doing a bit more work than in previous versions. Thus, it needs some scenario options passed to it when called (as opposed to swapping some of the elements out).
Needs a reordering of when this is called in `setup_scenarios` to create the list of simulations to do.
Not much work (famous last words) but noting it here so I don't forget. Assigning myself.

[2020-09-03 13:30] liz-brooks commented on #22
i was going to suggest the very same, chris--using the wham as ASAP model
that was configured to get the retros for each scenario.
i'm not sure what you are proposing for the recruitment assumption in the
projection years.
an easy shortcut would be to use the average estimated recruitment instead
of an empirical cdf, recognizing that is the outcome for median catch
advice even if we did stochastic

[2020-09-03 13:42] timjmiller commented on #22
I think these suggested specifications are possible, however, a little more
realistically, one could also determine (retro-adusted) stock/harvest
status, and, if rebuilding is required, find Frebuild in this same
deterministic way.

On Thu, Sep 3, 2020 at 9:30 AM Liz Brooks <notifications@github.com> wrote:

--
Timothy J. Miller, PhD
Research Fishery Biologist
NOAA, Northeast Fisheries Science Cen

[2020-09-03 13:52] liz-brooks commented on #22
that makes sense.
so find SSBmsy proxy using mean recruitment, F40% and M and waa and
maturity; see if SSBcurrent is >= or < SSBmsy proxy.
if >=, then catch advice is (75%?) of F40% catch advice
if <,  then catch advice is the catch that achieves rebuilding in (10?)
years?  i'm not sure how standard the rebuilding rule is, but this addition
seems more realistic than always taking 75% of F40% catch

[2020-09-03 16:27] gavinfay commented on #25
Pushed a big commit that revises this and makes the input specifications much more smooth.
All the inputs (nprojyrs, Fhist, ExpandedSurvey options, etc.) now get passed via the input object. Because of the size of the input object the specifications now get revised within do_mse rather than in the full settings table. - that just contains what the settings will be. Additional short lookup contains

[2020-09-03 16:27] #25 closed, assigned to gavinfay

[2020-09-03 16:28] gavinfay commented on #12
@gavinfay has made sure the setup works for the full factorial design matrix settings. One offs yet to be added.

[2020-09-03 18:25] JDeroba opened #26 "M_CC and ExpandSurvey_modified variants"
Gavin,
So the M_CC and ExpandSurvey_modified IBM functions have sub-options controlled by if statements within the functions.  More specificcally, M_CC needs to be run with 2 different target F approaches, and ExpandSurvey_modified has 4 different F target approaches.  The F target to use is defined in IBM_options.  Can you confirm that the code is ready to somehow run each of these IBM methods wi

[2020-09-03 18:35] gavinfay commented on #26
Hi Jon,
Yes, these get set using Chris' extended namings when setting up the specifications.
See lines 95-110 or so of [setup_scenarios.R](https://github.com/cmlegault/IBMWG/blob/master/demonstrations/gavin/setup_scenarios.R).
They then get attached to the input object, and then assigned to the `y` after the get.IBM.input() function does its thing (see lines 88-90 of [wham_mse_functions.R](https:/

[2020-09-03 18:42] JDeroba commented on #26
Sweet.  To avoid confusion, should I delete this specification in the IBM_options() script or hold off until we're ready to hit "go"?

[2020-09-10 17:49] #26 closed, assigned to gavinfay, JDeroba

[2020-09-16 18:59] cmlegault commented on #22
SCAA functions added to wham_mse_functions.R by Tim - thanks!

[2020-09-16 18:59] #22 closed, assigned to cmlegault, liz-brooks, timjmiller, JDeroba

[2020-09-16 19:01] cmlegault commented on #5
JoeDLM and ensemble functions added - thanks Joe and Jon!

[2020-09-16 19:01] #5 closed, assigned to John-Wiedenmann, JDeroba, rich-bell

[2020-09-16 19:03] cmlegault commented on #8
F metrics have been added. Are there any other metrics needed? Number of times catch advice was not able to be caught perhaps?

[2020-09-16 19:04] cmlegault commented on #18
It looks to me like this one is ready to be closed, but wanted to check with everyone before doing so. Anything left on the To Do list here?

[2020-09-17 12:07] thefaylab opened #27 "true_rep$selAA only of length 3 not 4"
Getting an error running through `wham_mse_functions.R`

Line 65, reference to element 4 of `true_rep$selAA[[4]]` , only has length 3.

Which selectivity pattern should be referenced here?

[2020-09-17 12:24] gavinfay opened #28 "Line ending differences showing apparent large changes to files"
Some differences in line endings are making it look like there are large changes to files even though only small numbers of lines are changed on commits.
Suspect this is due to differences in OS / line ending settings in R Studio (or whatever editor is being used)

It's not a big deal but can make it hard to see what has changed. Logging this issue to provide the below which I found helpful.

Can

[2020-09-17 13:36] timjmiller commented on #27
I changed the reference for n_selblocks. Pull repo and see if it works now.

On Thu, Sep 17, 2020 at 8:08 AM Gavin Fay <notifications@github.com> wrote:

--
Timothy J. Miller, PhD
Research Fishery Biologist
NOAA, Northeast Fisheries Science Center
Woods Hole, MA
508-495-2365

[2020-09-17 13:57] liz-brooks opened #29 "change_catch_sim function not found"
Error: Problem with `mutate()` input `wham`.
✖ could not find function "change_catch_sim"
ℹ Input `wham` is `furrr::future_pmap(list(seed = seed, input = input), do_wham_mse_sim)`.

[2020-09-17 14:18] cmlegault commented on #29
change_catch_sim is in wham_retro_functions.R now located in the code directory
Does running files in the code directory work?

[2020-09-17 14:18] timjmiller commented on #29
source wham_retro_functions.R in demonstrations/tim

On Thu, Sep 17, 2020 at 9:57 AM Liz Brooks <notifications@github.com> wrote:

--
Timothy J. Miller, PhD
Research Fishery Biologist
NOAA, Northeast Fisheries Science Center
Woods Hole, MA
508-495-2365

[2020-09-17 14:29] cmlegault commented on #29
in the code directory, the do_mse.R file now sources wham_retro_functions.R within the code directory.

[2020-09-17 14:29] #29 closed, assigned to nobody

[2020-09-17 14:38] cmlegault opened #31 "sys.date use means only one run per day?"
today = format(Sys.Date(), "%Y/%m/%d") is used in the output file naming
outfile = paste0("output/demo-mse-",user,"-",str_remove_all(today,"/"),".rds")
saveRDS(mse_output, file = outfile)
Does this mean that a user can only do one set of simulations per day? It appears that any additional runs done the same day will overwrite the runs already done that day. Or am I missing something? Would using s

[2020-09-17 14:56] thefaylab commented on #27
I think the (or another) issue is that at some point what is being passed to `n_selblocks` changed from
`input$n_selblocks`
to
`input$data$n_selblocks`

These aren't the same - the first (`input$n_selblocks`)  is the scenario specification as to whether there is 1 fishery selectivity pattern during the base period vs 2, whereas
`input$data$n_selblocks` is the number of selectivity patterns in the

[2020-09-17 15:15] gavinfay opened #32 "recruitment in years after initial year 0 in base input settings"
Something not working with recruitment given default call to `do_mse()`. Initialized but subsequent years of base-period is 0.

[2020-09-17 15:25] timjmiller commented on #27
Just one small fix required. I pushed the change. Thanks for catching that
Gavin.

On Thu, Sep 17, 2020 at 10:56 AM thefaylab <notifications@github.com> wrote:

--
Timothy J. Miller, PhD
Research Fishery Biologist
NOAA, Northeast Fisheries Science Center
Woods Hole, MA
508-495-2365

[2020-09-17 17:35] cmlegault commented on #27
fixed

[2020-09-17 17:35] #27 closed, assigned to timjmiller

[2020-09-17 17:36] cmlegault commented on #8
all set for now, can compute others later

[2020-09-17 17:36] #8 closed, assigned to gavinfay

[2020-09-17 17:37] cmlegault commented on #12
remember one offs later

[2020-09-17 17:37] #12 closed, assigned to cmlegault, gavinfay

[2020-09-17 19:00] gavinfay commented on #31
changed to sys.time as suggested during 09/17/2020 call.

[2020-09-17 19:00] #31 closed, assigned to nobody

[2020-09-17 19:01] gavinfay opened #33 "error in call to do_wham_mse, 'input' not found"
An error was being thrown when running the MSE due to an additional argument now being passed to get.IBM.input and IBM.options - to properly pass the assessment frequency to the DLM estimation method.
Argument name was being handled properly.
This is now fixed and the error that @liz-brooks mentioned during the 09-17-2020 call is no longer (at least for @gavinfay ) being generated. Did verify that

[2020-09-17 19:02] cmlegault opened #34 "add one offs to scenarios table"
not an immediate need, just don't want to forget about this

[2020-09-17 19:16] timjmiller commented on #32
@gavinfay, Did you update input_setup.rds, before do_mse()?

On Thu, Sep 17, 2020 at 11:16 AM Gavin Fay <notifications@github.com> wrote:

--
Timothy J. Miller, PhD
Research Fishery Biologist
NOAA, Northeast Fisheries Science Center
Woods Hole, MA
508-495-2365

[2020-09-17 20:04] timjmiller commented on #33
@gavinfay I get this error when trying to run do_mse after rerunning code to generate objects in rds files:

Error: Problem with `mutate()` input `wham`.
✖ object 'input' not found
ℹ Input `wham` is `furrr::future_pmap(list(seed = .$seed, input = .$input), do_wham_mse_sim)`.

[2020-09-17 20:31] timjmiller commented on #33
fixed

[2020-09-17 20:31] #33 closed, assigned to nobody

[2020-09-17 20:32] timjmiller commented on #32
I get recruitment with latest changes. Can @gavinfay confirm this?

[2020-09-17 21:34] gavinfay commented on #32
Yes can confirm. Thanks Tim!

[2020-09-17 21:34] #32 closed, assigned to gavinfay, timjmiller

[2020-09-18 01:32] timjmiller opened #35 "*.RDS or *.rds in .gitignore"
right now I see output/*.RDS and settings/*.RDS in .gitignore, but I think *.rds files of results are saved. I suspect we don't want to put files storing results on the repo because of the size of those objects.

[2020-09-18 15:41] cmlegault commented on #35
While we're still finalizing the code, I think we want to allow changes to input_setup.rds and mse_sim_setup.rds located in the settings directory. Once we get the code finalized, these will be fixed and we won't need to mess with them anymore.

I agree the intent is to not store large results files in the GitHub repository. That is why the do_mse.R code has the save to Google feature. I think if

[2020-09-18 15:52] timjmiller commented on #35
Seems we could use RDS and rds to distinguish which we want the repo to
track. For example, use *.rds for things like progress_table and *.RDS for
results. The current .gitignore specifications would then ignore the
results files.

On Fri, Sep 18, 2020 at 11:41 AM Chris Legault <notifications@github.com>
wrote:

--
Timothy J. Miller, PhD
Research Fishery Biologist
NOAA, Northeast Fisheries Science

[2020-09-18 16:01] cmlegault commented on #35
Windows machines often don't distinguish between cases when looking for files. I don't know if folks using Windows would actually distinguish between .rds and .RDS in gitignore (e.g., see this [link](https://www.hanselman.com/blog/GitIsCasesensitiveAndYourFilesystemMayNotBeWeirdFolderMergingOnWindows.aspx))

I think the output/*.RDS is fine. But I wonder how to deal with progress_table.rds because

[2020-09-22 15:26] cmlegault opened #36 "two inputs returned by do_wham_mse_sim function"
Not sure this is a problem, but there are two variables called input returned by do_wham_mse_sim function
input = true_om$input,
input = input

Just checking to make sure this is not causing problems anywhere

[2020-09-22 17:11] liz-brooks opened #37 "Error in summarize_results.R"
Error: Problem with `mutate()` input `om_ssb`.
✖ $ operator is invalid for atomic vectors
ℹ Input `om_ssb` is `map(wham, ~pluck(.x$result$sim_data_series$SSB))`.

i ran this on results of progress table rows 1-111 and tried again on results from progress table rows 1-2775 (25 iterations of the first 111 entries).

1 run (111 rows) took 2.65 mins and 72,268 KB
25 runs (2775 rows) took 49.3 mins and

[2020-09-22 18:00] timjmiller commented on #37
Is "results" one of the elements of mse_output? If so, is "sim_data_series"
an element of mse_output$results ? I'm just wondering if the structure of
mse_output is different than expected on line 25 of summarize_results.R. If
the needed elements are there, but in a different list structure, then it
is just a matter of changing the code of summarize_results.R to get that
structure right.

On Tue, S

[2020-09-22 18:30] liz-brooks commented on #37
so, result exists in the object, as does result$sim_data_series, and
result$sim_data_series$SSB, and that is a vector of length 90 (with
reasonable looking values.
i had previously noticed that there are two objects named "input" in
$result (see below) and remembered that when i saw chris's email about that
this morning.
doesn't seem like that is related to this issue, but should be checked.
i can

[2020-09-22 18:53] timjmiller commented on #36
Nice find, Chris. It looks like this not be an issue, but I changed the
returned list anyway to make sure there are not 2 items returned with the
same name.

On Tue, Sep 22, 2020 at 11:26 AM Chris Legault <notifications@github.com>
wrote:

--
Timothy J. Miller, PhD
Research Fishery Biologist
NOAA, Northeast Fisheries Science Center
Woods Hole, MA
508-495-2365

[2020-09-22 18:56] #36 closed, assigned to nobody

[2020-09-22 20:45] cmlegault opened #38 "a number of IBMs not working"
see mse_checks.rds in main directory (created by do_mse_test.R in code directory)

[2020-09-22 22:16] liz-brooks commented on #38
this seems like the same issue as #37, with perhaps a more recent (by
hours?) identification of the particular methods/scenarios.
perhaps close #37 and just refer to this issue?

On Tue, Sep 22, 2020 at 4:45 PM Chris Legault <notifications@github.com>
wrote:

--
[code]

[2020-09-23 13:13] cmlegault opened #39 "change base period years? (minor)"
Would changing the base period years from 1970-2019 to 1971-2020 cause any problems? The latter is easier for the public to see equals 50 years than the former (unless they are C programmers). I think this could be done simply in base_input.R by changing
input$modyears <- 1970:2019 #50 years
to
input$modyears <- 1971:2020 #50 years

Note 1971:2020 is assumed in input$F later in the file, should ch

[2020-09-23 13:29] timjmiller commented on #39
Maybe the easiest thing is to just use the preferred years in generating
report text and any figures and tables?

On Wed, Sep 23, 2020 at 9:13 AM Chris Legault <notifications@github.com>
wrote:

--
Timothy J. Miller, PhD
Research Fishery Biologist
NOAA, Northeast Fisheries Science Center
Woods Hole, MA
508-495-2365

[2020-09-23 13:33] cmlegault commented on #39
Just changing the report text and figures will be confusing to any readers who look at the code or dig into the data dumps and see different years.

Are there problems in WHAM with changing the years? If so, then probably easiest just to stick with 1970-2019 as base period and live with it.

[2020-09-23 13:43] timjmiller commented on #39
No, there is no problem with WHAM. The model years are not even used
internally, they are just used for generating all of the plots and tables
for fitted models. I was just trying to avoid having to track down
everywhere these years are hard coded in the IBMWG R code.

On Wed, Sep 23, 2020 at 9:33 AM Chris Legault <notifications@github.com>
wrote:

--
Timothy J. Miller, PhD
Research Fishery Biolog

[2020-09-23 13:46] cmlegault commented on #39
I didn't find many places where the years are hard coded, but I didn't look everywhere. If there are a lot, let's drop it and stick with 1970:2019.

[2020-09-23 14:51] cmlegault opened #40 "check years of data used by IBMs"
Desire is to have year t and t+1 catch advice based on catch through year t-2, fall index through year t-2, and spring index through year t-1 (when fall and subsequent spring are averaged). Is this what is happening in wham_mse_function.R line 195:
observed_sim = get.IBM.input(y=observed_sim, i=year, adv.yr = adv.yr)

When look at individual runs, it appears that index and catch are available to I

[2020-09-23 20:28] cmlegault opened #41 "revisit saving everything?"
Based on runs Liz has done, looks like we'll need about a terabyte of storage for all our results. This is going to be a problem. Can we reduce the amount of information saved from each realization to reduce the total storage space?

[2020-09-24 15:21] timjmiller commented on #41
I think we probably don't need to save the om (true or observed) which
should save quite a bit of space.

On Wed, Sep 23, 2020 at 4:29 PM Chris Legault <notifications@github.com>
wrote:

--
Timothy J. Miller, PhD
Research Fishery Biologist
NOAA, Northeast Fisheries Science Center
Woods Hole, MA
508-495-2365

[2020-09-24 15:30] gavinfay commented on #41
I think if we pull out the final vectors of
SSB
Catch
F
from the om, as well as
Reference points
Advice object also containing output from the ibms

This may be sufficient to calculate the performance metrics and others we
might be interested in.
Perhaps the vector of recruitments/devs also because we might be interested
in knowing how performance corresponds to these.

We can always reconstruct t

[2020-09-24 18:06] JDeroba commented on #40
We should double check that expanded_survey IBM is lagging indices correctly too.

[2020-09-24 18:33] cmlegault commented on #39
Let's stick with 1970-2019 base period.

[2020-09-24 18:33] #39 closed, assigned to nobody

[2020-09-24 18:34] timjmiller commented on #38
@gavinfay @cmlegault design matrix IBM elements for planbsmooth need to say "planBsmoothfxn" so that this function is used instead of ApplyPlanBsmooth_fast.

[2020-09-24 18:38] cmlegault commented on #38
setup_scenario.R has code that is supposed to handle this
    IBM = case_when(
      IBM == "PlanBsmooth" ~ "planBsmoothfxn",

This approach is needed for the Empirical Approaches (due to multiple approaches within one call). I could change design_matrix.R to use planBsmoothfxn instead of PlanBsmooth if that would be easier.

[2020-09-24 18:40] timjmiller commented on #38
@gavinfay As the code is now, it also appears that helper functions in wham_mse_functions.R are not available to the IBM functions when using furrr. E.g., when M_CC is the IBM it uses DLM_Z, but it doesn't exist. Same with Expandsurveymodified using get.stable.period.

[2020-09-24 18:41] cmlegault commented on #41
I've created a folder called "ResultFiles" in the IBMWG Google Drive directory (where we all have editing privileges. I am not sure how to modify the write_to_google statement so that it is identified correctly. Anyone have an idea?

[2020-09-24 18:52] liz-brooks commented on #38
that identifies some of the methods that had problems in summarize_results
(pasted below, but see also issue #37).  i don't have chris's mse_checks
handy, but when i previously looked i noticed some differences in the
methods and attributed it to possibly some fixes having taken place between
my run and chris's.  anyway, just a note to double check by running
do_mse_test.R and also testing summari

[2020-09-24 19:26] cmlegault commented on #35
Just updated .gitignore so it has the following
.Rproj.user
.Rhistory
*.RData
.Ruserdata
*.Rproj
/wham/sandbox
/wham/*.RDS
/wham/*.rds
/output/*.RDS
/output/*.rds

I think this is what we agreed to during the meeting. Note, I also commented out the saveRDS line in setup_scenarios for the progress_table and added a note

[2020-09-24 20:01] timjmiller commented on #38
@rich-bell I fixed several library-specific function calls, but still get this error in JoeDLM:

Error in Wsave[, , it] <- mod$W: number of items to replace is not a multiple of replacement length

[2020-09-24 21:02] rich-bell commented on #38
JoeDLM only takes three inputs, the catch, the number of years between assessments and the seasonal index.  And it uses two packages
# require(dlm)
  # require(RandomFieldsUtils)
If it is getting to Wsave[, , it] <- mod$W then the dynamic linear model is running and the MCMC ran.  If the function is getting the three input objects and the packages are loaded, I do not know what would be wrong. I c

[2020-09-25 21:13] rich-bell commented on #40
Adjusted the indexing to provide the correct years of spring survey, fall survey, annual survey and catch to the IBM functions.  As discussed on the call, if the assessment is done mid year in year 50 to provide catch advise for year 51, the available data are: spring survey through year 50, fall survey through year 49, and catch through year 49.

The annual survey is the mean of the spring survey

[2020-09-26 01:15] timjmiller commented on #40
@rich-bell This now gives this error in the mse test:

Error in rbind(caa_survey_two_base, caa_survey_two_proj)[1:base_yr + i - : only 0's may be mixed with negative subscripts

It appears that offset_fall_I (=2) is causing negative rows to be accessed from this matrix because 1:base_yr + i - offset_fall_I will start at negative numbers for i<=1

[2020-09-26 14:04] rich-bell commented on #40
@timjmiller   Looks like I forgot to add the parentheses 1:(base_yr + i - offset_fall_I) on line 268 so the vector was starting at zero instead of one.  I believe that issue is corrected now. sorry

[2020-09-27 01:54] timjmiller commented on #38
In recent push to repo, I have reduced the errors to just two methods.
@gavinfay @cmlegault For planBsmoothfxn we still get this error:
Error in match.arg(method): object 'Year' not found
I believe it is occuring in ApplyPlanBsmooth_fast

@rich-bell @cmlegault For JoeDLM we get this error:
Error in x[, i] <- m$residuals: number of items to replace is not a multiple of replacement length
I think it

[2020-09-27 02:38] rich-bell commented on #38
@cmlegault @timjmiller Joe is working on his function and hopefully it will be ready by Monday.

[2020-09-28 18:38] cmlegault commented on #38
Fixed the PlanBsmooth problems. Definitely in the "duh" category. Just needed to declare which packages were needed for filter and drop_na (dplyr and tidyr, respectively). The do_mse_test.R code now only shows JoeDLM in mse_check$IBM.

[2020-09-30 02:33] rich-bell commented on #38
@timjmiller @cmlegault Joe edited his function and it is now uploaded to the WHAM_MSE_function.R

[2020-10-01 12:02] cmlegault commented on #40
All IBMs appear to be working correctly. Thanks everyone!

[2020-10-01 12:02] #40 closed, assigned to nobody

[2020-10-01 12:02] cmlegault commented on #38
All IBMs appear to be working. Thanks everyone!

[2020-10-01 12:02] #38 closed, assigned to nobody

[2020-10-01 12:03] cmlegault commented on #35
Commenting creating of progress_table.rds in setup_scenarios appears to have solved the problem

[2020-10-01 12:03] #35 closed, assigned to cmlegault, gavinfay

[2020-10-01 12:04] cmlegault commented on #18
Looks like we've covered everything in this issue.

[2020-10-01 12:04] #18 closed, assigned to cmlegault, gavinfay, liz-brooks, timjmiller, JDeroba

[2020-10-01 12:05] cmlegault commented on #41
The write_to_google statement asks where to save file, so should be all set.

[2020-10-01 12:05] #41 closed, assigned to nobody

[2020-10-01 12:05] cmlegault commented on #37
All IBMs appear to be working. Thanks everyone!

[2020-10-01 12:05] #37 closed, assigned to nobody

[2020-10-02 14:09] cmlegault opened #42 "catch metrics not working"
get_catch_metrics in performance_metrics.R returns the following error
Error: Problem with `mutate()` input `catch_metrics`.
x negative length vectors are not allowed
i Input `catch_metrics` is `pmap(list(catch, refpts, nprojyrs), get_catch_metrics)`.

(when I replace catch_metrics line in summarize_results.R with catch_metrics = NA, everything else runs smoothly)

note: to get rid of runs that di

[2020-10-02 20:11] cmlegault commented on #42
fixed by changing the place catch, SSB, and F vectors were pulled from in wham object and pulling nprojyrs from specs instead of wham

[2020-10-02 20:11] #42 closed, assigned to gavinfay, timjmiller

[2020-10-06 17:35] JDeroba opened #43 "check for duplicates"
The progress_table.rds was not automatically pushing to github for some of us, and some of us didn't realize this.  Once all the runs are done, check for duplicates.

[2020-10-06 17:46] cmlegault commented on #43
One of the first steps in summarizing the results is to remove any duplicates. None detected so far, but will continue to check.

[2020-10-06 17:46] #43 closed, assigned to cmlegault, gavinfay, liz-brooks

[2020-10-08 11:42] gavinfay opened #44 "does observed_om MAA get updated during projection period?"
I noticed that a chunk of time during the projection period is being spent calling the observed OM report function, to pull out the observed OM matrix of M at age.

e.g. line 192 of `wham_mse_functions.R`

`observed_sim$MAA = observed_om$report()$MAA`

From what I can tell the full matrix is specified in the call to this report function during the base period.
Thus it is needed to call the report(

[2020-10-08 11:46] gavinfay opened #45 "added script to reset the crashes in the progress table"
Added script `reset_gaps.R` that will reset the rows of the progress table for those that it says were run but did not work.

This won't yet overwrite the progress table, for safety's sake.

It uses the list of simulations in the performance metrics results table created by @cmlegault . Thus, it is possible at the moment that runs have been done that are in the progress table but not yet assimilat

[2020-10-08 14:05] timjmiller commented on #44
I checked access to "MAA" in the entire code directory and it is safe to
use that as it is done earlier in the function. I have edited and pushed
the changes. I think it is safe to close this.

On Thu, Oct 8, 2020 at 7:42 AM Gavin Fay <notifications@github.com> wrote:

--
Timothy J. Miller, PhD
Research Fishery Biologist
NOAA, Northeast Fisheries Science Center
Woods Hole, MA
508-495-2365

[2020-10-08 14:05] #44 closed, assigned to gavinfay, timjmiller

[2020-10-08 14:13] cmlegault opened #46 "new performance metric not working"
I added SSB/SSBmsy and F/Fmsy to the performance metrics code. The SSB ratio works fine, but the F doesn't. I can't see the problem. Can someone help me find the bug? Thanks!

[2020-10-08 14:33] timjmiller commented on #46
Can you describe more what happens exactly? Is there a test we can run to see the problem?

[2020-10-08 14:39] cmlegault commented on #46
Sorry, should have been more clear. When I run my version of summarize_results.R, the s_ and l_ avg_f_fmsy metrics are not created, instead a "" metric is. You can test this with any small output rds file.

[2020-10-08 14:43] timjmiller commented on #46
Are the other "fmsy" metrics provided by get_F_metrics ok?

[2020-10-08 14:44] cmlegault commented on #46
They seem to be, get a range of results across different IBMs.

[2020-10-08 15:33] timjmiller commented on #46
So, the "avg" additions to get_F_metrics function were within a list definition and using "<-" doesn't  name those elements of the list. I edited and pushed the change. Should be fine to close this.

[2020-10-08 15:33] #46 closed, assigned to gavinfay, timjmiller

[2020-10-08 16:37] gavinfay commented on #44
Great! Thanks @timjmiller!

[2020-10-08 19:52] cmlegault opened #47 "apply catch.mult (OFL vs ABC)"
I think we could do it in the do_wham_mse_sim function. "Just" have to pull the catch.mult out of the input object (line 19?), then apply it to the catch advice (lines 135 and 199? need to be careful to apply to only catch advice, not all the other stuff that gets returned by IBM function). I think this will allow the catch retro source to function correctly.

Alternatively, could put catch.mult i

[2020-10-08 19:53] cmlegault opened #48 "remove catch.mult=0.75 results so far"
We now have a bunch of duplicate runs that don't do us any good because catch.mult was not applied (all are catch.mult=1).

I don't know if it would be easier to change the results or to set up some code to filter out these results and replace them with results from later runs.

[2020-10-09 17:38] timjmiller commented on #47
Does someone know that catch.mult is in input?

[2020-10-12 13:34] timjmiller commented on #47
I have modified the wham_mse_sim function to apply the catch.mult and tested it with the do_mse_test.R script. It should be safe to open up the 0.75 catch mult scenarios and close this issue.

[2020-10-12 13:34] #47 closed, assigned to nobody

[2020-10-12 13:35] timjmiller commented on #48
Should be safe to redo the 0.75 catch.mult scenarios now.

[2020-10-12 14:18] cmlegault commented on #48
Old runs with catch.mult=0.75 now removed from results in my_summarize_results.R located in demonstrations\chris\demo_plot directory.

[2020-10-12 14:18] #48 closed, assigned to nobody

[2020-10-13 15:08] cmlegault opened #49 "replicate scenarios"
Discovered scenarios.csv has both M_CC and CatchCurve_FequalM IBMs - these are equivalent

result is that iscens 25-32 are the same as 89-96 and iscens 138-145 are the same as 202-209

too late to renumber scenarios
will need to do some filtering to remove replicate runs from results
will need to filter out replicate scenarios from future runs to save time
will need to adjust output tables and plo

[2020-10-13 19:30] gavinfay commented on #49
Commit @de44288 adds code to `do_mse.R` to filter replicated scenarios when putting the 'todo' list together for new runs.

`dupes <- duplicated(mse_sim_setup[,-(1:2)])`
`not_dupes <- mse_sim_setup$rowid[!dupes]`
.....
`filter(rowid %in% not_dupes) %>% `

[2020-10-13 20:23] gavinfay commented on #48
Reinserted the 0.75 catch.mult scenarios into those considered when reviewing which runs to do.

Also filters out the old 075 catch.mult scenarios from the existing results when summarizing in `summarize_results.R` and @cmlegault's `my_summarize_results.R`

[2020-10-13 20:24] gavinfay commented on #49
@cmlegault I made some changes to your `my_summarize_results.R` that should help with processing and filter the bad results out.

[2020-10-13 20:27] cmlegault commented on #49
Thanks Gavin! Very helpful. I modified demo_make_tables_figures.R as well to use this trick,

[2020-10-14 18:55] cmlegault commented on #49
Ran into problems trying to map large numbers of large files in my_summarize_results.R (many GB of data was too much for little laptop to handle all at once). So reverted to looping through runs. Appreciate the hint about map - would be nice if running on network machine with lots of memory.

[2020-10-15 17:01] gavinfay opened #50 "merge conflicts when running simulations"
There is the potential for merge conflicts to arise when running the simulations because of multiple pushes to and changes to the repo on both local and github versions.

Fixed (I think) by adding 2nd pull to the repository before writing the update to the progress table in `do_mse()` as suggested by @liz-brooks.

[2020-10-15 17:01] #50 closed, assigned to nobody

[2020-10-15 20:45] gavinfay commented on #49
Ah yes. Makes sense!

[2020-10-17 22:52] gavinfay opened #51 "testing true OM outside the simulation calls"
@timjmiller had begun working on an idea to run the small set of true OMs outside the simulation calls.
This would speed up runs by not spending as much time getting the true OM values as simulate() will create the rec devs based on seeds.

@gavinfay made changes to `demonstrations/tim/do_mse_test2.R` to join the true om objects to the mse setup list so true_om is now passed to `do_wham_mse_sim()`

[2020-10-17 22:52] gavinfay commented on #45
progress table updated 10/17/2020

[2020-10-17 22:52] #45 closed, assigned to cmlegault, gavinfay

[2020-10-19 15:54] liz-brooks commented on #51
hi gavin,
i don't see any repo changes that reflect this yet, so am wondering if i
can just uncomment the filter JoeDLM line in do_mse.R and at least have
some of those runs going while tim is doing his work on the side.  does the
progress table reflect any JoeDLM runs you have already accomplished?

cheers
liz

On Sat, Oct 17, 2020 at 6:52 PM Gavin Fay <notifications@github.com> wrote:

--
[code]

[2020-10-20 12:36] gavinfay commented on #51
These changes are in Tim's demo folder and not part of the main workflow.

Yes, uncomment the filter (or better yet filter for those scenarios) if you want to run those. Yes, progress table continues to be updated with runs that are done.

[2020-10-22 22:13] cmlegault commented on #49
Looks like we've got everything under control here.

[2020-10-22 22:13] #49 closed, assigned to nobody

[2020-10-22 22:14] cmlegault commented on #51
Let's put this on the back-burner for now. Thanks for trying!

[2020-10-22 22:14] #51 closed, assigned to timjmiller

[2020-11-01 14:14] gavinfay opened #52 "added do_mse_scaa for age-based oneoffs, SCAA throwing error"
Added a version of the main function (along with separate progress table) for @liz-brooks to do the age-based assessment oneoffs. See `do_mse_scaa.R`

However, SCAA() function is throwing an error (see below).

Probably an easy fix for @timjmiller or others, I don't have time right now so logging this here.

$error
<simpleError in if (nyr_add > y$n_years_proj) stop(paste0("nyr_add = ", nyr_add,

[2020-11-02 15:50] timjmiller commented on #52
I'll work on this today

On Sun, Nov 1, 2020 at 9:15 AM Gavin Fay <notifications@github.com> wrote:

--
Timothy J. Miller, PhD
Research Fishery Biologist
NOAA, Northeast Fisheries Science Center
Woods Hole, MA
508-495-2365

[2020-11-02 19:31] timjmiller commented on #52
It works now with slice(1). I have pushed the changes. I seem to have made it work using code when the code was still back in the demonstrations directory, but the changes I made to do_wham_mse_sim there were not moved to the code directory. Now it is. Closing this for now.

[2020-11-02 19:31] #52 closed, assigned to cmlegault, liz-brooks, timjmiller

[2020-11-02 20:06] liz-brooks commented on #52
just tried to run one iteration using do_mse_scaa. i read the output into
scaa.out, then tried to look at the result:

scaa.out$wham[[1]]
[[1]]$result
[1] NA

[[1]]$error
<simpleError in fit_wham(scaa_input, do.fit = TRUE, do.retro = TRUE,
do.sdrep = FALSE,     do.osa = FALSE, MakeADFun.silent = TRUE,
retro.silent = TRUE): unused argument (retro.silent = TRUE)>

looks like there is still a problem

[2020-11-02 20:24] timjmiller commented on #52
You might need to update wham package

[2020-11-03 12:48] liz-brooks commented on #52
i made some changes to  do_mse_scaa.R script to fix two issues:
1. it was always running just the first row of the progress table (i added
xx.todo around line 76)
2. it would only run 1 simulation at a time despite nsim>1  (after fix 1, i
changed slice(1) to slice(1:nsim) around line 112; before fix 1, any change
to slice didn't make a difference)

output appears to be what i expect (progress tabl

[2020-11-03 12:53] cmlegault commented on #34
Both no retro and scaa one offs have their own progress tables and are running

[2020-11-03 12:53] #34 closed, assigned to nobody

[2020-11-05 21:01] timjmiller opened #53 "base period simulations"
I have uploaded code to generate the simulations for the base period under the 8 different configurations that  would have different results (Fmult, retro_type, n_selblocks) at demonstrations/tim/generate_base_periods.R. The simulations should be uploaded to the google "ResultsFiles" directory soon.

[2020-11-05 21:01] #53 closed, assigned to nobody

[2020-11-07 13:12] cmlegault commented on #53
plots available in demonstrations/chris/base_sims folder in GitHub repo

[2021-08-05 19:02] JDeroba opened #54 "catch misreporting description"
I lifted the text describing catch misreporting directly from the final Report, but I think it reads as though we evaluated over-reporting, not under-reporting.  See the "Study Design" section of the pub rmd file for the text that I'm referencing.  "we applied a scalar multiple to the true catch observations...scalar was 5...".  Can someone who knows exactly how this functioned please revise the t

[2021-08-10 15:08] timjmiller commented on #54
Good catch. I fixed the text. Numbers needed to be inverted.

[2021-08-10 15:08] #54 closed, assigned to timjmiller

[2021-09-07 18:27] JDeroba opened #55 "why did 2 IBMs have two failures"
The Methods section of the manuscript currently says, "Two IBMs (AIM and ES-Fstable) had two failed simulations each, and this small number of failures was unlikely to effect results and conclusions, and so were not considered further."  While comforting that this is a small number, I suspect we'll be asked to provide a reason for the failures anyway.  I don't have an answer.  Maybe JW?

[2021-09-07 20:37] cmlegault commented on #55
I wrote some code (code/find_run_missing_sims.R) to find and run the 4 missing simulations and got the following error:

Error: Problem with `mutate()` input `wham`.
x NA/NaN/Inf in 'x'
ℹ Input `wham` is `purrr::pmap(list(seed = seed, input = input), do_wham_mse_sim)`.

Looks like it is going to take a bit of wham debugging to figure out the NA/NaN/Inf in 'x' problem. Perhaps @timjmiller can take

[2021-09-08 12:59] John-Wiedenmann commented on #55
Both of these approaches rely on the AIM method of estimating the target F, correct? If so, then it would make sense that the error is related to estimating the F in these methods.   I didn't put those methods together, so I'm not sure under what conditions this would occur.  Was it @liz-brooks who pulled together the AIM model?

[2021-09-08 14:16] timjmiller commented on #55
Do we know which seed(s) and scenarios are causing the error?

[2021-09-08 14:23] JDeroba commented on #55
Scenarios for AIM are CF1A and CO1A.  Scenarios for ES-Fstable are CO1A and
CO2A.  Somebody with a better relationship with the code than me will have
to find the seed.  Chris' code ( code/find_run_missing_sims.R) must be able
to print the seeds somehow.

JJD

On Wed, Sep 8, 2021 at 10:16 AM Tim Miller ***@***.***> wrote:

[2021-09-08 14:32] cmlegault commented on #55
iscen isim rowid    seed
1    75  699 74699   52332
2    73  598 72598 1758736
3    65  732 64732 5293817
4    69  172 68172 2132642

[2021-09-08 14:33] cmlegault commented on #55
oops, should have removed the first column
  iscen isim rowid    seed
   75  699 74699   52332
   73  598 72598 1758736
   65  732 64732 5293817
   69  172 68172 2132642

[2021-09-08 18:05] JDeroba opened #56 "check the methods text and tables"
Aside from issue #55, which I expect we'll resolve quickly after Tim gets back from vacation, I feel like the methods text is striking a nice balance between too much and too little.  In short, I think it could be almost done.  I'm out of the office the rest of the week (9/9 and 9/10), and so if anybody has a chance to give the methods a read and make suggestions and comments then it would be much

[2021-09-08 18:38] timjmiller commented on #56
The WHAM paper that Brian led was written using Rmarkdown. There are
examples of figure and table referencing there:

https://github.com/brianstock-NOAA/wham-sim/blob/master/paper/wham-sim-paper.Rmd

PS. I am not on vacation anymore...besides tomorrow maybe.

On Wed, Sep 8, 2021 at 2:06 PM JDeroba ***@***.***> wrote:

--
Timothy J. Miller, PhD (he, him, his)
Research Fishery Biologist
NOAA, Northe

[2021-09-08 18:44] liz-brooks commented on #55
my guess would be that it is associated with estimating the replacement
ratio, or solving for the f that achieves that.
the aim function i wrote had a default to return all the fitting info, so
if we can extract that we should be able to tell what happened.
but maybe it would be faster to just run those 4 cases and see what error
pops on the screen?

On Wed, Sep 8, 2021 at 10:33 AM Chris Legault *

[2021-09-08 18:51] timjmiller commented on #55
I think Liz's right. I'll have the full answer soon I think.

[2021-09-09 13:46] timjmiller commented on #55
I added a few lines to code/find_run_missing_sims.R that checks each of the 4 "rows" (lines 161-167) of mse_sim_todo that shows where the issue is. I only see one failure with the first row and that is due to taking log of an F=0 inside teh get.stable.period function. There are some print statements added in there to show the problem. So, that explains the NAs for the first row of mse_sim_todo, bu

[2021-09-09 14:24] cmlegault commented on #55
Thanks Tim! I ran your code on Shiny1 and got the same error (below) for all four rows (only rows 1 and 4 printed out anything before showing this error message, I've included the traceback as well as the error message):

Error in lm.fit(x, y, offset = offset, singular.ok = singular.ok, ...) :
  NA/NaN/Inf in 'x'

4. | lm.fit(x, y, offset = offset, singular.ok = singular.ok, ...)
3. | lm(R ~ F, da

[2021-09-09 14:30] timjmiller commented on #55
I'll check it on shiny1. Not sure why there would be a difference if I did these tests on a windows machine...

[2021-09-09 14:32] John-Wiedenmann commented on #56
Nice work pulling this together Jon.  I went through and edited the Methods and overall I think it is looking good, striking a balance between not too much nor too little.

Some big picture things:

- I changed reference to Appendix 4 to Supplemental, but I wasn't sure if we were going to include a supplemental describing WHAM.  Are the Stock and Miller references sufficient?

- Ensemble method -

[2021-09-09 19:13] timjmiller commented on #55
Ok, I can replicate the errors on shiny1 for rows 2 and 3 where I have a version0.0.9000 installed. It is the same errror as I found before for row 1. I did not get these errors for rows 2-4 on my local machine where I had v1.0.0 installed. I suspect this has to do with a difference in simulations between these two versions of wham purely due to differences in the order of simulation calls in the

[2021-09-09 19:13] #55 closed, assigned to John-Wiedenmann, JDeroba

[2021-09-10 20:34] timjmiller commented on #55
to be more complete: In these cases An F=0 that causes the error when the log(F) are used in lm() is provided by the wham simulate() in the projections. When a Catch is provided, wham internally uses a newton method for determining the F from the catch that is supplied as catch advice. In these 4 simulations the newton method fails and iterates to 0 instead of what I suspect is an F greater than 2

[2021-09-13 19:05] JDeroba commented on #56
**I think the references are likely sufficient since the details of WHAM are inconsequential relative to the generic description of the age-structured OM and SCAA that we already provide.  I deleted reference to the supplemental.**

**I dug out the "ensemble discussion" from the G-Drive and took a crack at describing our decision process.**

**I'll email Joe and see what he wants to do. I can't se

[2021-09-15 18:32] timjmiller opened #57 "literature references"
I have modified the yaml header of the Rmd file to reference an IBMWG.bib file that holds bibtex entries for literature and I have changed references in the introduction to use the entries in this file. There's also a cjfas style file used for formatting references. I have just added the papers in the intro to the .bib file so it is not complete, but I thought it would show others how to use it if

[2021-09-15 18:32] #57 closed, assigned to nobody

[2021-09-17 15:31] cmlegault commented on #56
The methods section looks good. I found two minor factual inconsistencies related to the linear trend in M and missing catch (years are 31 to 40 not 30 to 40). I changed these in the manuscript rmd file. I also fixed a minor typo fourtneen to fourteen.

One thing that we may want to add is how the missing catch is addressed in the OM when catch advice is supplied from an IBM. I think we increase t

[2021-09-20 14:56] John-Wiedenmann commented on #56
I may have missed some of the discussion on this but are we dropping the Plan B name?  I'm fine with this especially since it might get us fined by Texas, but just wanted to make sure.  Personally I think there was a missed opportunity in not calling it the Woods Hole Interim Management Procedure (WHIMP).  I think we could use something like Loess Index Smoother (LIS) or just Index Smoother (ISmoo

[2021-09-20 16:15] cmlegault commented on #56
I just pushed the heatmap results, including the csv files used to create Tables 5.4-5.8 (and others in the Appendix). Note that these include SCAA (not done originally due to insufficient scenarios examined) and the full 1,000 DLM results.

I like the term Ismooth instead of PBS. I haven't changed the code yet, but that is a single line in the file, so easily done. Once we have agreement on the c

[2021-09-21 12:49] John-Wiedenmann commented on #56
Thanks Chris this is very helpful.  Is it possible to get similar output files for the other 3 PMs we want to talk about in the paper (Overfishing prob., Overfished prob., and catch IAV)?

[2021-09-21 18:58] cmlegault commented on #56
I just pushed 10 tables to GitHub providing PED = probability of being overfished, PING = probability of overfishing, and IAV = interannual variability in catch over the entire feedback loop period (thus appears as NA for groupings including time). Note the two probabilities are computed using mean (to make them probabilities) while the IAV is computed using median to make it comparable with the B

[2021-09-23 15:01] JDeroba commented on #56
I cleaned up the remaining methods issues that were raised by others, including Legaults's suggestion about how catch misspecification was applied in conjunction with IBMs, and added Langan's MS thesis to the bib and cited as he suggested. I consider the bulk of the methods done. We can obviously tweak more (and I suspect we will), but I'll close this issue as I think this is mostly done. Thanks.

[2021-09-23 15:01] #56 closed, assigned to cmlegault, John-Wiedenmann, timjmiller, JDeroba

[2021-09-28 16:08] John-Wiedenmann opened #58 "Results section added, need feedback"
I took a stab at writing the Results and adding some Figures, but there is more to be done.  Many thanks to Chris for pushing the output tables for me to use as a starting point.  I created a folder MS_tables_figs that includes the table summaries that have all PMs combined, as well as some Figures I created using these summary tables (Figure 1, 3 and 4) in the manuscript.  Figures 2 and 5 are cur

[2021-09-28 16:12] cmlegault commented on #58
Thanks John. I haven't looked at the results yet, but can answer your question. When time was not a factor, then the results are summarized over the short and long term results for all variables except interannual variability in catch, which was computed across the entire feedback period.

[2021-09-28 16:26] John-Wiedenmann commented on #58
I'm still a little confused when you say that when time is NOT a factor there are values for short and long.  For example in the table "table.heatmap.ibm.retro.fhist_median.csv" a single value is reported for SSB, C, and F ratios - and the results are separated by IBM, catch or M, and fishing history. So the values reported here were calculated over the entire feedback period, correct?  That is ho

[2021-09-28 16:55] cmlegault commented on #58
Not quite. The values that were collected were the short and long time period SSB/SSBmsy, F/Fmsy, Catch/MSY, probability overfished, and probability overfishing. When time was not a factor, the results for the short and long term were included in the medians (or means for the probabilities) for these five variables. Only the interannual catch variability was calculated over the entire feedback per

[2021-09-28 16:58] John-Wiedenmann commented on #58
Ah, thanks.  I get it now.

[2021-09-29 19:33] liz-brooks commented on #58
i uploaded a ppt explaining some interpretation of the full distribution of
SSB/SSBmsy, F/Fmsy, and Catch/MSY results for all methods by scenario.  i
think it gives a more complete picture of risk probabilities relative to
targets/thresholds.
the ppt is in Manuscript/some_results.pptx and refers to plots in
Manuscript/tables_figs/*.ecdf.cairo.png (plots are also in the ppt).
to me, it now looks li

[2021-09-29 19:34] liz-brooks commented on #58
apologies if this is a repeat... not sure i hit reply all:

i uploaded a ppt explaining some interpretation of the full distribution of
SSB/SSBmsy, F/Fmsy, and Catch/MSY results for all methods by scenario.  i
think it gives a more complete picture of risk probabilities relative to
targets/thresholds.
the ppt is in Manuscript/some_results.pptx and refers to plots in
Manuscript/tables_figs/*.ecdf.c

[2021-09-30 16:59] John-Wiedenmann commented on #58
Thanks Liz, these are helpful.  And yes, SCAA in aggregate looks great, but when you break it out by scenario it does look worse than some other options.  It's really conservative with the M retro source and not with catch.  It performed much worse when the F returns to Fmsy in the base period which I found interesting (see Figure 3 in the manuscript).  Based on the separated results I would argue

[2021-09-30 20:11] liz-brooks commented on #58
ok, thanks for the response.
do you want me to contribute text along the lines of what i summarized in
those slides?  and if so, what are your thoughts on where/whether the ecdf
figures below (i'm leaning towards supplemental, since they are kinda big
and there are 6 of them).  i could add some words tomorrow, now that it
looks like we'll be open for business, if that doesn't interfere with
anyone

[2021-09-30 20:24] cmlegault commented on #58
The summaries John produced are interesting, but still hide quite a bit of detail. For example, the figure below shows how one point in the F/Fmsy figure when plotted by retro type and Fhist is derived. The 8 scenarios correspond to time period (Long or Short), number of selectivity blocks (1 or 2), and catch advice multiplier (Applied or Reduced). The violin plots show the distributions of the 1,

[2021-09-30 20:50] cmlegault commented on #58
I agree SCAA does not look as clear cut of a winner as it did based on the smaller number of scenarios originally examined. However, I would argue that in the long term its performance is still as good if not better than all the IBMs examined, based on the S/Smsy vs C/MSY plot anyway. The CCs, DLM, and Ismooth all have some large biomasses with very low catch in contrast to SCAA. I think SCAA real

[2021-09-30 22:01] John-Wiedenmann commented on #58
Very interesting Chris.  Essentially the median (red line) is the low point in the middle of a bimodal distribution of the short and long term. I find it interesting how bad it does in the short term though, but in the long term it lines up more with the missing catch with F = 2.5 x Fmsy.  In other words, when the population is really low the retro-adjusted SCAA is better than when the biomass is

[2021-10-14 14:01] John-Wiedenmann commented on #58
All, just a reminder if you could go through the Results section and Figures to edit / comment.

[2021-10-25 16:21] JDeroba commented on #58
So I read the results section and fixed some typos. I think it is well written and strikes a good balance between too much and too little, clearly highlighting the salient points. I did not pour over the plots and tables to confirm that I agree with all the conclusions, but there seems to be some good minds on that task. I'll try to make time for that soon. I agree that reporting more details of t

[2022-01-05 17:18] JDeroba opened #59 "implementation error in manuscript"
The overview section of the methods section currently says that catches were removed from the population with some degree of implementation error (i.e., removals do not exactly equal TAC). I'm not even sure this statement is true let alone what the level of implementation error is. Can somebody that knows the code better take and look and revise the manuscript as needed? @cmlegault @timjmiller @Jo

[2022-01-05 17:25] timjmiller commented on #59
That is true at least for the retro scenarios due to missing catch.

On Wed, Jan 5, 2022 at 12:18 PM JDeroba ***@***.***> wrote:

--
Timothy J. Miller, PhD (he, him, his)
Research Fishery Biologist
NOAA, Northeast Fisheries Science Center
Woods Hole, MA
508-495-2365

[2022-01-05 18:29] JDeroba commented on #59
The implementation error that I'm referencing would've been applied in all scenarios. It is typically applied as a lognormal error to the F that produces the TAC: F_realized = F_tac*exp(error); error~N(0,sigma). Sounds like we did not do this so I'll delete it from the manuscript. In most cases, but not all, this type of implementation error does not have a major effect on results. A reviewer like

[2022-01-05 18:29] #59 closed, assigned to cmlegault, John-Wiedenmann, timjmiller